<div class="center-content">
  <img class="card-img-top mx-auto d-block rounded-circle main-img" src="{{dish.image}}" alt="dish">
  <div class="title">{{dish.title}}</div>
  <div class="info">{{dish.time}} min</div>
  <div class="info">{{dish.kcal}} kcal</div>
</div>


<div class="ingredients-header">
  <span class="title">Ingredients</span>
  <span *ngIf="missing_items.length > 0" class="missing">Missing - {{missing_items.length}}</span>
  <span class="total">Total - {{ingredients.length}}</span>
</div>

<div class="wrapper_i">
  <div *ngFor="let item of ingredients" 
       [ngClass]="{'missing': missing_items.includes(item), 'available': !missing_items.includes(item), 'shopping': shopping_items.includes(item)}" 
       class="item">
    <img class="card-img item-img" src="{{item.image}}" alt="dish">
    <div class="text">{{item.title}}</div>
    <div *ngIf="missing_items.includes(item)">
      <button (mousedown)="addItem(item)" >Add</button>
    </div>
  </div>
</div>
<a *ngIf="missing_items.length > 0" 
     [class]="isAdded ? 'added' : 'missing'" 
     (click)="AddAllMissingItems()">{{isAdded ? 'Ingredients Added' : 'Add All Missing'}}</a>
  <div class="subtitle">
    Recipe
  </div>
<div class="description" style="overflow-y: auto; height: 200px; /* Adjust as needed */">
  {{dish.description}} 
</div>