<!-- app.component.html -->
<!-- START: header navbar. Delete this code in order to remove the menu -->
<header>
  <div class="container-fluid fixed-top">
    <div class="row">
      <div class="col-3">
        <a class="notification">
            <img src="assets/head-bar-phone/notification.svg" alt="notification" />
        </a>
      </div>
      <div class="col-6">
        <div class="title">
          <div><span class="Go">Go</span><span class="Grocery">Grocery</span></div>
        </div>
      </div>
      <div class="col-3">
        <div class="profilepic">
          <img src="assets/head-bar-phone/profilepic.png" alt="profilepic" />
        </div>
      </div>
    </div>
  </div>
</header>
<!-- END: header navbar. Delete this code in order to remove the menu -->
<router-outlet></router-outlet>

<!-- START: menu navbar. Delete this code in order to remove the menu -->
<div>
  <nav class="navbar navbar-expand-lg p-3">
    <div class="navbar-nav">
      <div class="row">
        <div class="col-3">
      <a class=" nav-item" routerLink="cook" [ngClass]="{'selected': selectedIcon === 'cook'}" (click)="toggleIcon('cook')" >
        <img class="navbar-icons" src="assets/nav-bar-phone/cook.svg" alt="cook" />
      </a>
    </div>
    <div class="col-3">
      <a class="nav-item" routerLink="home" [ngClass]="{'selected': selectedIcon === 'inv'}" (click)="toggleIcon('inv')">
          <img class="navbar-icons" src="assets/nav-bar-phone/inv.svg" alt="inv" />
      </a></div>
      <div class="col-3">
      <a class="nav-item" routerLink="item-shop" [ngClass]="{'selected': selectedIcon === 'store'}" (click)="toggleIcon('store')">

          <img  class="navbar-icons" src="assets/nav-bar-phone/store.svg" alt="shop" />
 
      </a></div>
      <div class="col-3">
      <a class="nav-item" routerLink="tasks" [ngClass]="{'selected': selectedIcon === 'list'}" (click)="toggleIcon('list')">
 
          <img class="navbar-icons" src="assets/nav-bar-phone/list.svg" alt="list" />
      </a></div>
    </div>
    </div>
  </nav>
</div>
<!-- END: menu navbar. Delete this code in order to remove the menu -->

