// styles.scss
@font-face {
  font-family: 'Sansita Swashed';
  src: url('/assets/head-bar-phone/SansitaSwashed-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  // font-family: Arial, sans-serif;
}

// Remove padding from body to prevent unnecessary space
header {
  height: 80px;

  .title {
  .Go{
    color: #5FB57E; 
    font-size: 32px; 
    font-family: 'Sansita Swashed', sans-serif;
    font-weight: 400; 
    line-height: 18px; 
    word-wrap: break-word;
  }
  .Grocery {
    color: #181725; 
    font-size: 32px; 
    font-family: 'Sansita Swashed', sans-serif; 
    font-weight: 400; 
    line-height: 18px; 
    word-wrap: break-word;
  }

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  }
  
  .notification{
    display: block;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 50px;
  }

  .profilepic{
    display: block;
    margin-left: 13px;
    margin-right: auto;
    margin-top: 45px;
  }
}

.navbar {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.80);
  color: rgb(255, 255, 255);
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; // Ensure it's above other elements
  border-radius: 40px 40px 0px 0px ;
  backdrop-filter: blur(4.5px);
  height: 80px; // Adjust the height of the navbar
  flex-shrink: 0;

  .navbar-toggler {
    color: white;
    border: none;
    font-size: 1.5em;
    background: none;
    cursor: pointer;
    outline: none;

    &.selected {
      fill: orange;
    }
  }

  .navbar-icons {
    fill: black; // default color
    transition: fill 0.3s ease; // optional for a smooth transition
  
    &.selected {
      fill: orange; // selected color
    }
  }


.navbar-icons img {
  filter: grayscale(100%) invert(100%);
  transition: filter 0.3s ease; // Optional for a smooth transition
}

.navbar-icons.selected img {
  filter: grayscale(0%) invert(0%) sepia(100%) saturate(1000%) hue-rotate(50deg); // Adjust values as needed
}


  

  .navbar-nav {
    display: none;

    @media (max-width: 576px) {
      display: flex;
      align-items: center;
      flex-direction: row; // Ensure icons are in the same row
      justify-content: space-between; // Icons on the left and right

      .nav-item {
        margin-right: 34px;
        margin-left: 30px;
        margin-bottom: 6px;
        margin-top: 10px;
        text-decoration: none; // Remove underlining

        &.selected {
          color: orange;
        }
      }
    }
  }

  @media (max-width: 576px) {
    .navbar-toggler {
      margin-left: auto;
    }
  }
}

.container {
  padding-bottom: 60px; // Adjust as needed to account for the navbar height
}
