// styles.scss

@font-face {
  font-family: 'Questrial';
  src: url('/assets/fonts/Questrial-Regular.ttf') format('truetype');
}



  .item-image {
    padding-right: 10px;
    margin-bottom: 18px;
    display: inline-block;
    //max-width: 100%;  // Ensure the image doesn't exceed the container width
    //height: 100%;
    width: 100px;
    height: 70px; // Maintain aspect ratio
    object-fit: contain;

  }




  .item-title {
    color: #181725;
    font-size: 16px;
    line-height: 18px;
    font-family: Questrial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: 0.1px;
    height: min-content;
  }

  .h2::before{
    content: "\a";
    white-space: pre;
}

  .h2 {
    color: #7c7c7c;
    font-size: 14px;
    line-height: 18px;
    font-family: Questrial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
      height: min-content;
      margin-top: -20px; 
  }

  .plus_icon {
    width: 45.67px;
    height: 45.6684px;
    padding-left: 10px;
    
    //max-width: 100%;  // Ensure the image doesn't exceed the container width
    //height: 100%;
    object-fit: contain;
  }

  .x_icon{
    display: inline-block;
  }

  .minus_icon {
    width: 45.67px;
    height: 45.6684px;
    padding-right: 10px;
    overflow: visible;
    display: inline-block;
    //max-width: 100%;  // Ensure the image doesn't exceed the container width
    //height: 100%;
    object-fit: contain;
  }



  // .quantity {
  //   color: #000;
  //   font-size: 32px;
  //   line-height: 18px;
  //   font-family: Questrial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  //     'Liberation Sans', sans-serif;
  //   position: absolute;
  //   left: 54.797%;
  //   right: 0;
  //   top: 32.8571%;
  //   bottom: 60.051%;
  //   justify-content: center;
  //   flex-direction: column;
  // }



  .added.ng-star-inserted {
    display: block;
  }

  img {
    max-width: 100%; // Ensure the image doesn't exceed the container width
    height: auto; // Maintain aspect ratio
    border-radius: 5px;
    width: 100%; // Make sure the image takes the full width of its container
  }


  .h12 {
    margin-top: 10px;
    color: #181725;
    font-size: 16px;
    line-height: 18px;
    font-family: Questrial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: 0.1px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }


  /*   color variables */
$clr-primary: #0e48fe;
$clr-primary-hover: #29e6a7;
$clr-primary-dark: #039d69;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-notification-hover: #ffebeb;
$clr-notification: #ffc2c2;
$clr-notification-dark: #e00000;

/*   border radius */
$radius: 0.2rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Mukta, sans-serif;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  color: $clr-gray500;
}

button {
  font-family: inherit;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: $clr-primary;
  border-radius: $radius;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: $clr-gray200;
  padding: 0.5rem;

  svg {
    width: 1rem;
    fill: $clr-gray200;
  }
}

.btn-secondary {
  background-color: transparent;
  font-weight: bold;
  color: $clr-primary;
}

.notification {
  margin-top: 30px;
  position: absolute;
  left: 85%;
  transform: translatex(-50%);
  background-color: $clr-notification-hover;
  border-radius: $radius;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &__warning {
    width: 1.5rem;
    margin-left: 1rem;
    fill: $clr-notification-dark;
  }

  &__close {
    background-color: $clr-notification;
    padding: 1rem;
    display: flex;
    cursor: pointer;

    svg {
      width: 1rem;
      fill: $clr-notification-dark;
    }
  }

  &-show {
    animation: warning 400ms ease-in-out forwards;
    display: flex;
  }
}

@keyframes warning {
  0% {
    opacity: 0;
    top: 2rem;
  }
  5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 4rem;
  }
}
