<div class="container">
    <div class="row" *ngFor="let task of tasks">
        <div class="col-4">
            <div class="item-image">
                <img [src]="task.image" alt="Item image">
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="item-title">{{task.title}}<div class="h2">4pcs</div></div> 
            </div>

            <div class="row">
                <div class="minus_icon"><i (click)=" subtract(task)"><img src="assets/minus-icon.svg" alt="minus" class="icon" /></i></div>
                <div class="h12">{{task.quantity}}</div>
                <div class="plus_icon"><i (click)=" add(task)"><img src="assets/plus-icon.svg" alt="plus" class="icon" /></i></div>

            </div>
        </div>
        <div class="col-2">
            <div class="x_icon"><i (click)=" deleteTask(task)"><img src="assets/x-icon.svg" alt="x" class="icon" /></i></div>
        </div>
    </div>
</div>