<div class="title" [ngClass]="{
  'exptitle': category === 'Expired',
  'expsoontitle': category === 'Expires Soon',
  'lowtitle': category === 'Low Quantity'
}">{{category}}</div>
<div class="wrapper_d">
  <div *ngFor="let item of items" class="category">
    <div class="container-fluid">
      <div class="row">
        <div class="col-9 inv-img">
          <img class="card-img-top fixed-height-ima " src="{{item.image}}" alt="dish">
        </div>
        <div class="col-3 inv-qnt">
          <p class="quantity">x {{item.quantity}}</p>
        </div>
      </div>
    </div>
    <div class="inv-title">
      {{item.title}}
    </div>
  </div>
</div>