<div class="search-bar">
  <input type="text" class="search-input" placeholder="Find your items" (focus)="onInputFocus($event)"
    (blur)="onInputBlur($event)" />
</div> 


<div class="container-fluid py-3">
  <div class="row">
    <div class="col-6" *ngFor="let card of cards">
      <a  [routerLink]="card.routerLink" style="color : black; text-decoration:none" [ngClass]="{'selected': selectedCategory === card.title}" (click)=" toggleCategory(card.title)">
      <div class="card" [style.background-color]="card.Backcolor" [style.border-color]="card.color">
      <div class="card-image">
        <img class="card-img-top fixed-height-ima" [src]="card.imageUrl" alt="Card image">
      </div>
        <div class="card-body" style="white-space: nowrap;">
          <h5 class="card-title">{{ card.title }}</h5>
        </div>
      </div>
      </a>
    </div>
  </div>
</div>

