// styles.scss

@font-face {
    font-family: 'Questrial';
    src: url('/assets/fonts/Questrial-Regular.ttf') format('truetype');
  }
  
  .i{
    margin-left: 20px;
    margin-top: 190px;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: Questrial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
  
  }

  