<div class="inventory">Inventory</div>
<div class="shoppingList">Shopping List</div>
<div class="line14"></div>
<div class="vector"><img src="assets/fridge/vector-icon.svg" alt="" class="icon" /></div>
<div class="rectangle39429"></div>
<div class="lowQuantity">Low Quantity</div>
<div class="_3">3</div>
<div class="rectangle394292"></div>
<div class="expiresSoon">Expires Soon</div>
<div class="_2">2</div>
<div class="rectangle394293"></div>
<div class="expired">Expired</div>
<div class="_22">2</div>
<div class="vector2"><img src="assets/fridge/vector-icon2.svg" alt="" class="icon2" /></div>
<div class="line11"></div>
<div class="_941">9:41</div>