<!-- fridge.component.html -->
<!-- START: header navbar. Delete this code in order to remove the menu -->
<header>
    <div class="container-fluid fixed-top">
      <div class="row">
        <div class="col-3">
          <a class="notification">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <img src="assets/header-fridge/sun.svg" alt="sun" />
                    </div>
                    <div class="col-9">
                        <div class="time">9:41</div>
                        <div class="weather">20°C Sunny</div>
                    </div>
                </div>
            </div>
          </a>
        </div>
        <div class="col-6">
          <div class="title">
            <div><span class="Go">Go</span><span class="Grocery">Grocery</span></div>
          </div>
        </div>
        <div class="col-3">
          <div class="day">Monday</div>
          <div class="date">20 May 2019</div>
        </div>
      </div>
    </div>
  </header>