
<p class="top">HELLOOOOOOOOOOOOO INVENTORY</p>

<app-inventory-view></app-inventory-view>

  <div class="title">Fruits</div>
<div class="wrapper_d">
  <div *ngFor="let item of inventory" class="dish">
    <div class="dish-img">
      <img class="card-img-top fixed-height-ima " src="{{item.image}}" alt="dish">
    </div>
    {{item.title}}
    <div class="time">
      <div class="group">
        <div class="_Min">{{item.time}} min</div>
      </div>
    </div>
    <div class="status">
      <div class="add">
        {{status}}
      </div>  
    </div>
  </div>
</div>
