<div class="container-fluid">
    <div   class="purple d-flex flex-column justify-content-center align-items-center">
          <a routerLink="hygiene">
            <img src="\assets\hygiene.png" alt="Cleaning Supplies">
        </a>
        <h1>Hygiene Supplies</h1>
      </div>

    <div class="pink d-flex flex-column justify-content-center align-items-center" >
        <h1 style="transform: scaleX(-1) scaleY(-1); padding-right:60px; padding-top:10px;">Cleaning Supplies</h1>
        <a routerLink="cleaning">
            <img src="\assets\cleaning.png" alt="Cleaning Supplies" style="transform: scaleY(-1);">
        </a>
        
    </div>
</div>


