:host,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:host,
:not(span, a, ul, ol, li, p) {
  display: flex;
}

@font-face {
  font-family: 'Sansita Swashed';
  src: url('/assets/fonts/SansitaSwashed-Regular.ttf') format('truetype');
}
ul,
ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

p:empty::before {
  content: '';
  display: inline-block;
}

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

:host {
  position: relative;
  width: 1080.6084px;
  height: 405.6465px;
  flex-direction: column;
  align-items: flex-start;
}

// WEATHER AND TIME
.sun {
    position: absolute;
    left: 0.7041%;
    right: 91.5225%;
    top: 0;
    bottom: 79.5388%;
    overflow: visible;
    margin-top: 10px;
  }
.time {
    color: #000;
    font-size: 60px;
    line-height: 18px;
    font-family: Questrial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 11.9502%;
    right: 77.6853%;
    top: 3.6107%;
    bottom: 91.952%;
    width: min-content;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
    margin-top: 25px;
  }
  .weather{
    color: #000;
    font-size: 40px;
    line-height: 18px;
    font-family: Questrial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    //left: 11.9502%;
    //right: 77.6853%;
    left: 9%;
    top: 14.5139%;
    bottom: 81.4488%;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
    margin-top: 30px;
  }
  .leftLine {
    height:1px;
    width: 330px;
    border-width:0;
    background-color:#00000080;
    margin-top: 75px;
  }

  //TITLE
  .title {
    .Go{
      color: #5FB57E; 
      font-size: 60px; 
      font-family: 'Sansita Swashed', sans-serif;
      font-weight: 400; 
      line-height: 18px; 
      word-wrap: break-word;
    }
    .Grocery {
      color: #181725; 
      font-size: 60px; 
      font-family: 'Sansita Swashed', sans-serif; 
      font-weight: 400; 
      line-height: 18px; 
      word-wrap: break-word;
    }
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
  }

  //DAY AND DATE
  .dayNdate{
    .day{
        color: #000;
        font-size: 40px;
        line-height: 18px;
        font-family: Questrial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
            'Liberation Sans', sans-serif;
        position: absolute;
        left: 80.6853%;
        right: 11.9502%;
        top: 3.6107%;
        bottom: 91.952%;
        width: min-content;
        height: min-content;
        text-align: center;
        align-items: center;
        white-space: nowrap;
        flex-direction: column;
        margin-top: 25px;
    }
    .date{
        color: #000;
        font-size: 40px;
        line-height: 18px;
        font-family: Questrial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
        position: absolute;
        left: 77.6853%;
        right: 11.9502%;
        top: 14.5139%;
        bottom: 81.4488%;
        width: min-content;
        height: min-content;
        white-space: nowrap;
        flex-direction: column;
        margin-top: 30px;
    }
    
  }
  .rightLine {
    height:1px;
    width: 330px;
    border-width:0;
    background-color:#00000080;
    margin-top: 0px;
    margin-left: 745px;
  }
  
  //CATEGORIES

  //LOW QUANTITY
  .lowQuantity{
    .lowQuantityTitle {
        color: #000;
        font-size: 36px;
        line-height: 27px;
        font-family: Questrial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
          'Liberation Sans', sans-serif;
        letter-spacing: 0.1px;
        position: absolute;
        left: 75.3415%;
        right: 5.04%;
        top: 235px;
        bottom: 43.5565%;
        width: min-content;
        height: min-content;
        text-align: center;
        align-items: center;
        white-space: nowrap;
        flex-direction: column;
      }
      .NumLowQuantity {
        color: #2337e7;
        font-size: 48px;
        line-height: 18px;
        font-family: Questrial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
          'Liberation Sans', sans-serif;
        position: absolute;
        left: 71.3567%;
        right: 25.6805%;
        top: 248px;
        bottom: 43.7257%;
        justify-content: center;
        flex-direction: column;
      }
      .RecLowQuantity {
        position: absolute;
        left: 68.9426%;
        right: 3.2952%;
        top: 200px;
        bottom: 100px;
        border-radius: 10px;
        background-color: #2337e740;
        box-shadow: 5px 5px 10px 0px #00000040;
      }
  }
  
  //EXPIRES SOON
  .expiresSoonTitle {
    color: #000;
    font-size: 36px;
    line-height: 27px;
    font-family: Questrial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: 0.1px;
    position: absolute;
    left: 42.6582%;
    right: 37.9083%;
    top: 235px;
    bottom: 43.5565%;
    width: min-content;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }
  .NumExpiresSoon {
    color: #e79923;
    font-size: 48px;
    line-height: 18px;
    font-family: Questrial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 38.4954%;
    right: 58.5535%;
    top: 248px;
    bottom: 43.7257%;
    justify-content: center;
    flex-direction: column;
  }
  .RecExpiresSoon {
    position: absolute;
    left: 36.0908%;
    right: 36.2564%;
    top: 200px;
    bottom: 100px;
    border-radius: 10px;
    background-color: #e7992340;
    box-shadow: 5px 5px 10px 0px #00000040;
  }
  //EXPIRED
  
  .expiredTitle {
    color: #000;
    font-size: 36px;
    line-height: 27px;
    font-family: Questrial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    letter-spacing: 0.1px;
    position: absolute;
    left: 13.1729%;
    right: 75.4446%;
    top: 235px;
    bottom: 43.5565%;
    width: min-content;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }
  .NumExpired {
    color: #c61f1f;
    font-size: 48px;
    line-height: 18px;
    font-family: Questrial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 5.653%;
    right: 91.3842%;
    top: 248px;
    bottom: 43.7257%;
    justify-content: center;
    flex-direction: column;
  }
  .RecExpired {
    position: absolute;
    left: 3.2389%;
    right: 68.9989%;
    top: 200px;
    bottom: 100px;
    border-radius: 10px;
    background-color: #c61f1f40;
    box-shadow: 5px 5px 10px 0px #00000040;
  }

//INVENTORY AND LIST MENU
  ul li .inventory {
    display: inline-block;
    color: #808080;
    font-size: 64px;
    line-height: 18px;
    font-family: Questrial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 3.2389%;
    right: 72.4229%;
    top: 370px;
    bottom: 8.8747%;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .menuLine {
    position: relative;
    width: 5px;
    height: 88px;
    left: 320px;
    top: 150px;
    bottom: 8.8747%;
    background-color: #808080;
  }
  ul li .shoppingList {
    display: inline-block;
    color: #000;
    font-size: 64px;
    line-height: 18px;
    font-family: Questrial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 31.6488%;
    right: 32.4455%;
    top: 370px;
    bottom: 8.8747%;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .microphone {
    position: absolute;
    left: 84.7671%;
    right: 12.4567%;
    top: 360px;
    //bottom: 100px;
    overflow: visible;
  }

