<div class="weatherNtime">
    <div class="sun"><img src="assets/fridge/sun.svg" alt="" class="sun" /></div>
    <div class="time">9:41</div>
    <div class="weather">20°C Sunny</div>
</div>

<div class="title">
    <div><span class="Go">Go</span><span class="Grocery">Grocery</span></div>
</div>
<div class="dayNdate">
    <div class="day">Monday</div>
    <div class="date">20 May 2019</div>
</div>
<hr class="leftLine">
<hr class="rightLine">

<div class="lowQuantity">
    <div class="lowQuantityTitle">Low Quantity</div>
    <div class="NumLowQuantity">{{expired}}</div>
    <div class="RecLowQuantity"></div>
</div>
<div class="expiresSoon">
    <div class="expiresSoonTitle">Expires Soon</div>
    <div class="NumExpiresSoon">{{expires_soon}}</div>
    <div class="RecExpiresSoon"></div>
</div>
<div class="expired">
    <div class="expiredTitle">Expired</div>
    <div class="NumExpired">{{expired}}</div>
    <div class="RecExpired"></div>
</div>

<ul>
    <li><a class="active inventory" routerLink="/fridge/inventory" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inventory</a></li>
    <li><a class="shoppingList" routerLink="/fridge/shopping-list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Shopping List</a></li>
</ul>
<!-- <div class="inventory">Inventory</div>
<div class="shoppingList">Shopping List</div> -->
<div class="menuLine"></div>
<div class="microphone"><img src="assets/fridge/microphone.svg" alt="" class="icon" /></div>

<router-outlet></router-outlet>

