<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="weatherNtime">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2">
                            <div class="sun"><img src="assets/fridge/sun.svg" alt="" class="sun" /></div>
                        </div>
                        <div class="col-8">
                            <div class="time">{{ currentDate | date:'shortTime' }}</div>
                            <div class="weather">{{ weather }}°C</div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="leftLine">
        </div>
        <div class="col-4">
            <div class="title">
                <div><span class="Go">Go</span><span class="Grocery">Grocery</span></div>
            </div>
        </div>
        <div class="col-4">
            <div class="dayNdate">
                <div class="day">{{currentDate | date:'EEEE'}}</div>
                <div class="date">{{currentDate | date:'dd MMMM yyyy'}}</div>
            </div>
            <hr class="rightLine">
        </div>
    </div>
    
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="RecExpired" routerLink="/fridge/category">
                <div class="NumExpired">{{expired}}</div>
                <div class="expiredTitle">Expired</div>
            </div>
        </div>
        <div class="col-4">
            <div class="RecExpiresSoon" routerLink="/fridge/category">
                <div class="NumExpiresSoon">{{expires_soon}}</div>
                <div class="expiresSoonTitle">Expires Soon</div>
            </div>
        </div>
        <div class="col-4">
            <div class="RecLowQuantity" routerLink="/fridge/category">
                <div class="NumLowQuantity">{{low_quantity}}</div>
                <div class="lowQuantityTitle">Low Quantity</div>
            </div>
        </div>
    </div>
</div>


<ul>
    <li><a class="active inventory" routerLink="/fridge/inventory" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inventory</a></li>
    <li><a class="shoppingList" routerLink="/fridge/shopping-list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Shopping List</a></li>
</ul>
<!-- <div class="inventory">Inventory</div>
<div class="shoppingList">Shopping List</div> -->
<div class="menuLine"></div>

<router-outlet></router-outlet>

