<div class="search-bar">
  <input type="text" class="search-input" placeholder="Search recipes" (focus)="onInputFocus($event)"
    (blur)="onInputBlur($event)" />
</div>

<div class="title">Categories</div>
<div class="wrapper_c">
  <div *ngFor="let item of categories" class="category" (click)="selectCategory(item)"
    [ngStyle]="{'background-color': selectedCategory === item.category ? 'white' : 'white', 'border-color': selectedCategory === item.category ? '#FF7269' : '#fff'}">
    {{item.title}}
  </div>
</div>

<div style="height: 500px; overflow: auto;">
  <div class="title">New Dishes</div>
  <div class="wrapper_d">
    <div *ngFor="let item of ddishes" class="dish">
      <div class="dish-img">
        <img class="card-img-top fixed-height-ima " src="{{item.image}}" alt="dish">
      </div>
      {{item.title}}
      <div class="time">
        <div class="group">
          <div class="_Min">{{item.time}} min</div>
        </div>
      </div>
      <div class="status">
        <div class="_Cook">
          {{status}}
        </div>
      </div>
    </div>
  </div>

  <div class="title">{{timeOfDay}}</div>
  <div class="wrapper_d">
    <div *ngFor="let item of dishes" class="dish">
      <div class="dish-img" routerLink="dish/{{item._id}}">
        <img class="card-img-top fixed-height-ima " src="{{item.image}}" alt="dish">
      </div>
      {{item.title}}
      <div class="time">
        <div class="group">
          <div class="_Min">{{item.time}} min</div>
        </div>
      </div>
      <div class="status">
        <div class="_Cook" *ngIf="item.status === 'Cook'">
          {{item.status}}
        </div>
        <div class="_Missing" *ngIf="item.status === 'Missing'">
          2 {{item.status}}
        </div>
      </div>
    </div>

  </div>
</div>