

.h1 {
  color: #181725;
  font-size: 16px;
  line-height: 18px;
  font-family: Questrial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.1px;
  position: absolute;
  left: 8.6522%;
  right: 12.3117%;
  top: 69.0476%;
  bottom: 22.381%;
  height: min-content;
  flex-direction: column;
}

.h12 {
  color: #fff;
  font-size: 20px;
  line-height: 18px;
  font-family: Questrial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.1px;
  position: absolute;
  left: 36.3391%;
  right: 38.8581%;
  top: 84.7619%;
  bottom: 6.6667%;
  justify-content: center;
  flex-direction: column;
}
.h2 {
  color: #000;
  font-size: 32px;
  line-height: 18px;
  font-family: Questrial, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 54.797%;
  right: 0;
  top: 32.8571%;
  bottom: 60.051%;
  justify-content: center;
  flex-direction: column;
}
.pngfuel11 {
  position: absolute;
  left: 19.6116%;
  right: 54.7252%;
  top: 14.7619%;
  bottom: 42.6842%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
